:root {
    --bg: rgb(189, 166, 166);
    --text: blanchedalmond;
}

*{
    background-color: var(--bg);
    color: var(--text);
}
header {
    display: block;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-color: black;
    font-size: 40px;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 20px;
    background-color: var(--text);
    
}
.about {

}

