:root {
    --bg: rgb(125, 155, 211);
    --text: blanchedalmond;
}

*{
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: left;
   }
header {
    
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: space-between;
    width: 100%;
    font-size: 40px;
    background-color: var(--text);
}

.header-float {
    display: flex;
    flex-direction:row;
    justify-content: end;
    text-decoration: none;
    padding: 14px 16px;
}
.header-float a {
    float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.header-float a:hover {
    background: var(--text);
    color: var(--bg);
    
}
.about {

}
.fig1 {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 20px;
  }
#happy {
    position: relative;
    max-width: 500px;
  height: auto;
  left: 450px;
  top: 200px;
}

#lover {
    position: relative;
    max-width: 25%;
  height: 25%;
  left: 700px;
  bottom: 200px;
}

#vacation {
    position: relative;
    max-width: 25%;
  height: auto;
  left: 300px;
  top: 190px;
}
